<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

        <title>Hello World!</title>
        <link rel="stylesheet" type="text/css" href="/css/columns.css">
        <script src="/js/cesiumjs/Build/Cesium/Cesium.js"></script>
        <style>
         @import url(/js/cesiumjs/Build/Cesium/Widgets/widgets.css);
        </style>
        <script src="/js/socket.io-client/socket.io.js"></script>
        <script src="/js/d3js/d3.min.js"></script>
        <script src="/js/datgui/dat.gui.js"></script>
        <script src="/js/plotly.js/dist/plotly.min.js"></script>
    </head>
    <body>

        <div class="column column-7">
            <div class="row" style="height: 100%">
                <div id="cesiumContainer" style="height: 100%"></div>
                <div id="toolbar"></div>
            </div>
        </div>

        <div class="column column-5">

            <div class="row" id='plots'>
                <select class="default" id="plot_select" name="plot">
                    {% for id, plot in plots.items() %}
                    <option value={{ id|e }} {% if id == "plot0" %} selected {% endif %}>
                        {{ plot.title|e }}
                    </option>
                    {% endfor %}
                </select>
                {% for id, plot in plots.items() %}
                {{ plot.div|safe }}
                {% endfor %}
          </div>

          <div class="row" style="height: 40%; padding-top: 5px;">
            <div id="message-graph"></div>
          </div>

        </div>

        <script src="/js/graph.js"></script>
        <script src="/js/messages.js"></script>
        <script src="/js/viz.js"></script>
        <script src="/js/plots.js"></script>

	</body>
</html>
