div.graph svg {
    height: 19em;
    width: 100%;
}

.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node {
    cursor: move;
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}

.node.fixed {
    fill: #f00;
}

.node text {
    pointer-events: none;
    font: 10px sans-serif;
}
